.sidebar {
  background: @bg-secondary;
  padding: 10px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  .widget {
    padding: 10px 0;
    color:#fff;
    h3 {
      color: #fff;
    }
  }
}
