// Grid settings
$main-sm-columns:       $grid-columns;
$sidebar-sm-columns:    3;

$font-size-base:        16px;
$headings-line-height:  1.2;
$content-max-width:     800px;

// Colors
$brand-primary:         #27ae60;
$bg-primary:            #0c0c0c;
$bg-secondary:          lighten($bg-primary, 15%);
$navbar-default-brand-color:        #ccc;
$navbar-default-link-color:         #ccc;
$navbar-default-link-hover-color:   darken($navbar-default-link-color, 6.5%);
$navbar-default-link-active-color:  darken($navbar-default-link-color, 6.5%);

//== Panels
//
//##

$panel-dark-text:       #ccc;
$panel-dark-heading-bg: lighten($bg-primary, 30%);
$panel-dark-border:     $panel-dark-heading-bg;
$panel-dark-bg:         lighten($bg-primary, 25%);

//== Buttons
//
//## For each of Bootstrap's buttons, define text, background and border color.

$btn-dark-color:        #ddd;
$btn-dark-bg:           $panel-dark-bg;
$btn-dark-border:       $panel-dark-border;

$brand-primary:         darken(#428bca, 6.5%) !default; // #337ab7
$brand-success:         #5cb85c !default;
$brand-info:            #5bc0de !default;
$brand-warning:         #f0ad4e !default;
$brand-danger:          #d9534f !default;

$state-success-text:             #3c763d !default;
$state-success-bg:               #dff0d8 !default;
$state-success-border:           darken(adjust-hue($state-success-bg, -10), 5%) !default;

$state-info-text:                #31708f !default;
$state-info-bg:                  #d9edf7 !default;
$state-info-border:              darken(adjust-hue($state-info-bg, -10), 7%) !default;

$state-warning-text:             #8a6d3b !default;
$state-warning-bg:               #fcf8e3 !default;
$state-warning-border:           darken(adjust-hue($state-warning-bg, -10), 5%) !default;

$state-danger-text:              #a94442 !default;
$state-danger-bg:                #f2dede !default;
$state-danger-border:            darken(adjust-hue($state-danger-bg, -10), 5%) !default;
